#videoElement {
    /* max-width: 100%; */
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    /* transform: rotate(0deg); */
    background-color: black;
    opacity: 1;
    top: 0;
    /* overflow: hidden; */
}

canvas {
    width: 110vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0 !important;
}

body{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* overflow: hidden; */
}
/* html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  } */


.menulist {
    position: absolute;
    top: 0;
    width: 30vw;
    left: 0;
    background: transparent;
    color: white;
    z-index: 3;
    overflow: scroll;
    height: 80vh;
    top: 10vh;
    /* filter: grayscale(1); */
}

.menu {
    position: absolute;
    top: 0;
    width: 30vw;
    left: 0;
    background: url(./menub.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
    height: 100vh;
    opacity: 0.6;
}
ul li {
    padding: 20px;
    /* background-color: antiquewhite; */
    font-size: 30px;
    text-align: center;
    list-style-type: none;
}

ul {
    padding: 0;
}